<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :service_description, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :service_price, class: 'form-control' %>
  </div>

  <% if is_current_user_admin? %>

    <div id="business" class="form-group field">
      <%= form.label :business_id %>
      <%= form.select :business_id, options_for_select(Business.all.map{|b|[b.name, b.id]}, {class: 'form-control'}) %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit :Submit, class: 'btn btn-block btn-success' %>
  </div>
<% end %>
