<p id="notice"><%= notice %></p>

<h1>Services</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead class="thead mdb-color darken-3">
      <tr class="text-white">
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <% if is_current_user_admin? %>
          <th>Business</th>
        <% end %>
        <td colspan="3"></td>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.name %></td>
          <td><%= service.description %></td>
          <td><%= service.price %></td>
          <% if is_current_user_admin? %>
            <td>
              <%= service.business.name %>
            </td>
          <% end %>
          <td><%= link_to 'Show', service, class: "btn btn-primary btn-rounded btn-sm my-0" %></td>
          <td><%= link_to 'Edit', edit_service_path(service), class: "btn btn-purple btn-rounded btn-sm my-0" %></td>
          <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-rounded btn-sm my-0" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<br>

<%= link_to 'New Service', new_service_path %>
