<div class="service-show-wrapper">

  <h1 class="mt-4 mb-3">Service
    <small><%= @service.business.name %></small>
  </h1>

  <div class="row">

    <div class="col-lg-12 mb-12">
      <div class="card h-100">
        <h4 class="card-header"><%= @service.name  %></h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="small font-italic">description</span>
            <span class="lead"><%= @service.description  %></span>
          </li>
          <li class="list-group-item">
            <span class="small font-it">price</span>
            <% if @service.price.present? %>
              <span class="lead"> Rs <%= @service.price.round  %> </span>
            <% else %>
              <span class="lead"></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>



<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
