<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">  
    <div class="form-wrapper col-xs-12 col-md-12 text-center">

      <div class="form-group field">
        <%= form.label :name %>
        <%= form.text_field :name, id: :business_name, class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= form.label :description %>
        <%= form.text_area :description, id: :business_description, class: 'form-control' %>
      </div>

      <% if is_current_user_admin? %>

        <div class="form-check field">
          <%= form.check_box :active %>
          <%= form.label :active, for: 'active-field' %>
        </div>

      <% end %>


      <div class="form-group field">
        <%= form.label :address1 %>
        <%= form.text_area :address1, id: :business_address1, class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= form.label :address2 %>
        <%= form.text_area :address2, id: :business_address2, class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= form.label :zipcode %>
        <%= form.number_field :zipcode, id: :business_zipcode, class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= form.label :phone_no %>
        <%= form.number_field :phone_no, id: :business_phone_no, class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= form.label :mobile_no %>
        <%= form.number_field :mobile_no, id: :business_mobile_no, class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= form.label :email %>
        <%= form.text_field :email, id: :business_email, class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= form.label :fax %>
        <%= form.number_field :fax, id: :business_fax, class: 'form-control' %>
      </div>

      <div id="business_type" class="form-group field">
        <%= form.label :type_id %>
        <%= form.select :type_id, options_for_select(Type.all.map{|s|[s.name, s.id]}, {class: 'form-control'}) %>
      </div>

      <% if is_current_user_admin? %>

        <div id="business_user" class="form-group field">
          <%= form.label :user_id %>
          <%= form.select :user_id, options_for_select(User.all.map{|u|[u.email, u.id]}, {class: 'form-control'}) %>
        </div>

      <% end %>

      <div class="actions">
        <%= form.submit :Submit, class: "btn btn-block btn-success" %>
      </div>
    <% end %>
    </div>
  </div>

