<p id="notice"><%= notice %></p>

<h4 class="lead pt-2">List Of Hair Salons / Stylists / Barbers</h4>

<div class="album py-5">
  <div class="row">

    <% if @businesses.length == 0 %>
      <div class="lead">
        No businesses created yet!
        <%#= link_to_if user_signed_in?, new_business_path, 'Create One.' %>
        <%#= link_to_if !user_signed_in?, new_user_registration_path, 'Create One.' %>
      </div>
    <% end %>

    <% @businesses.each do |business| %>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <% if !business.photo.any? %>
            <img class="card-img-top img-fluid card-placeholder-size z-depth-1-half" src="http://via.placeholder.com/300x300?text=Add+Photo" alt="Card image cap">
          <% else %>
            <%= image_tag(business.photo.first.image, class: 'card-img-top img-fluid card-placeholder-size z-depth-1-half') %>
          <% end %>
          <div class="card-body">
            <div class="card-title"><%= business.name %></div>
            <p class="card-text"><%= business.description && business.description.truncate_words(5) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to 'Show', business, class: 'btn btn-sm btn-indigo' %>
                <% if business.photo.any? %>
                  <%= link_to 'Photos', profile_path(business), class: 'btn btn-sm btn-deep-purple' %>
                <% end %>
                <% if is_user_business? business or is_current_user_admin? %>
                  <%= link_to "Edit", edit_business_path(business), class: 'btn btn-sm btn-purple' %>
                <% end %>
              </div>
              <small class="text-muted"><%= business.address1.truncate_words(2) %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <% if (user_signed_in? && !user_has_business?) or is_current_user_admin? %>
    <%= link_to 'New Business', new_business_path, class: 'btn btn-sm btn-rounded btn-elegant' %>
  <% end %>

  <% if @businesses.length > 0 %>
    <%= paginate @paginate_business %>
  <% end %>

</div>
