<p id="notice"><%= notice %></p>

<div class="jumbotron z-depth-1-half" style="background-image: url(<%= @image %>); background-size: cover;">
  <h1 class="display-3"> &nbsp; </h1>
  <% if @image.blank? %>
    <h1 class="display-4">Upload Photo</h1>
  <% end %>
  <h6> &nbsp; </h6>
</div>

<h1 class="mt-4 mb-3"><%= @business.name %>
  <small class="lead"><%= @business.description %></small>
</h1>

<div class="p-3">
  <%= link_to 'Photo Showcase', profile_path(@business), class: "btn btn-elegant btn-rounded" %>
</div>

<div class="show-wrapper">

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
          <small class="text-muted">Address </small>
          <span class="h5"><%= @business.address1 %></span>
          <span class="font-italic"><%= @business.address2 %></span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <small class="text-muted">Zipcode </small>
            <span class="h5"><%= @business.zipcode %></span>
          </li>

          <li class="list-group-item">
            <small class="text-muted">Phone No</small>
            <span class="h5"><%= @business.phone_no %></span>
            <small class="text-muted">Mobile No</small>
            <span class="h5"><%= @business.mobile_no %></span>
          </li>

          <li class="list-group-item">
            <small class="lead">Email</small>
            <span class="h5 font-italic"><%= @business.email %></span>
          </li>

        </ul>
      </div>

    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h5 class="card-header">Services</h5>
        <ul class="list-group list-group-flush">
          <% @services.each do |service| %>
            <li class="list-group-item">
              <span class="lead"><%= service.name %></span>
              <% if service.price.present? %>
                <span class="font-italic"> Rs <%= service.price.round  %> </span>
              <% else %>
                <span class="font-italic"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h5 class="card-header">Working Hours</h5>
        <ul class="list-group list-group-flush">
          <% @hours.each do |hour| %>
            <li class="list-group-item">
              <span class="lead"><%= hour.day.name %></span>
              <span class="font-italic"><%= formatTime hour.time_start %></span>
              <span class="font-italic"><%= formatTime hour.time_end %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

  <% if is_user_business?(@business) %>
    <%= link_to 'Edit', edit_business_path(@business), class: "btn btn-sm btn-purple btn-rounded" %> |
  <% end %>
  <%= link_to 'Back', businesses_path, class: "btn btn-sm btn-rounded deep-purple darken-4" %>
</div>
