<div class="title m-2">
  <h4 class="lead">Businesss Showcase</h4>
</div>

<div class="profile-wrapper">

  <% @photos.each do |photo| %>
    <section class="py-5 bg-image-full" style="background-image: url(<%= photo.image %>); background-size: cover;">
    </section>
  <% end %>

</div>

<div class="profile-links">
  <span class="links px-2">
    <%= link_to 'Return to ' + @business.name, business_path(@business) %>
  </span>
  <span class="links px-2">
    <%= link_to 'Return to Main Page', businesses_path %>
  </span>
</div>
