<p id="notice"><%= notice %></p>

<h1>Hours</h1>


<div class="table-responsive sm">

  <table class="table table-hover">
    <thead class="thead">
      <tr>
        <td>Day</td>
        <td>Active</td>
        <td>Time Start</td>
        <td>Time End</td>
        <% if is_current_user_admin? %>
          <th>Business</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @hours.each do |hour| %>
        <tr>
          <td><%= hour.day.name %></td>
          <td><%= hour.active %></td>
          <td><%= formatTime hour.time_start %></td>
          <td><%= formatTime hour.time_end %></td>
          <% if is_current_user_admin? %>
            <td>
              <%= hour.business.name %>
            </td>
          <% end %>
          <td><%= link_to 'Show', hour %></td>
          <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
          <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Hour', new_hour_path %>
