
<div class="hour-show-wrapper">


  <h1 class="mt-4 mb-3">Working Hours
    <small><%= @hour.business.name %></small>
  </h1>

  <div class="row">

    <div class="col-lg-12 mb-12">
      <div class="card h-100">
        <h4 class="card-header"><%= @hour.day.name  %></h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="small font-italic">active</span>
            <span class="lead"><%= @hour.active  %></span>
          </li>
          <li class="list-group-item">
            <span class="small font-it">Time Start</span>
            <span class="lead"><%= formatTime @hour.time_start %></span>
          </li>
          <li class="list-group-item">
            <span class="small font-it">Time End</span>
            <span class="lead"><%= formatTime @hour.time_end %></span>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_hour_path(@hour) %> |
<%= link_to 'Back', hours_path %>
