<%= form_with(model: type, local: true) do |form| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-wrapper col-xs-12 col-md-12 text-center">

      <div class="field form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :type_name, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :description %>
        <%= form.text_area :description, id: :type_description, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit :Submit, class: "btn btn-block btn-success" %>
      </div>

    </div>
  </div>

<% end %>
