<p id="notice"><%= notice %></p>

<h1>Types</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead class="thead mdb-color darken-3">
      <tr class="text-white">
        <th>Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @types.each do |type| %>
        <tr>
          <td><%= type.name %></td>
          <td><%= type.description %></td>
          <td><%= link_to 'Show', type %></td>
          <td><%= link_to 'Edit', edit_type_path(type) %></td>
          <td><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Type', new_type_path %>
