<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span class="lead"><%= @type.name %></span>
</p>

<p>
  <strong>Description:</strong>
  <span class="lead"><%= @type.description %></span>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
