<p id="notice"><%= notice %></p>

<h1>Days</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead class="thead mdb-color darken-3">
      <tr class="text-white">
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @days.each do |day| %>
      <tr>
        <td><%= day.name %></td>
        <td><%= link_to 'Show', day %></td>
        <td><%= link_to 'Edit', edit_day_path(day) %></td>
        <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Day', new_day_path %>
