<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :photo_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :caption %>
    <%= form.text_area :caption, id: :photo_caption, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :active %>
    <%= form.check_box :active, id: :photo_active %>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Upload</span>
    </div>
    <div class="custom-file">
      <%= form.label :image, class: 'custom-file-label' %>
      <%= form.file_field :image, id: :photo_image, class: 'custom-file-input' %>
    </div>
  </div>

  <% if is_current_user_admin? %>

    <div id="business" class="form-group field">
      <%= form.label :business_id %>
      <%= form.select :business_id, options_for_select(Business.all.map{|b|[b.name, b.id]}, {class: 'form-control'}) %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
