<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<div class="table-responsive sm">
  <table class="table table-hover">
    <thead class="thead">
      <tr>
        <th>Name</th>
        <th>Caption</th>
        <th>Active</th>
        <th>Image</th>
        <% if is_current_user_admin? %>
          <th>Business</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= photo.name %></td>
          <td><%= photo.caption %></td>
          <td><%= photo.active %></td>
          <td>
            <div>
              <%= image_tag photo.image, class: "image-thumb" %>
            </div>
          </td>
          <% if is_current_user_admin? %>
            <td>
              <%= photo.business.name %>
            </td>
          <% end %>
          <td><%= link_to 'Show', photo %></td>
          <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
          <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<br>

<%= link_to 'New Photo', new_photo_path %>
