<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Active:</strong>
  <%= @photo.active %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @photo.image.url, class: "image-medium"  %>
</p>

<p>
  <strong>Business:</strong>
  <%= @photo.business.name %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
