@import "bootstrap";
@import "_modern-business";
@import "login";
@import "photos";
@import "profile";
@import "mdb";
@import url('https://fonts.googleapis.com/css?family=Karla|Lato');

body {
	margin-bottom: 60px;
	background-color: #f5f5f5;
  font-family: 'Karla', serif;
}

.footer {
  font-family: 'Lato', serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.text-label {
  font-weight: bold;
}

.navbar-user-container {
  padding: 0 5px;
  margin: 0 5px;
  .navbar-user {
    color: #fff;
  }
}
