// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-thumb {
  width: 50px;
  height: 50px;
}

.image-medium {
  width: 100px;
  height: 100px;
}

.image-showcase {
  width: 200px;
  height: 200px;
}
